.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.alert-danger {
    background: #f4f5f6;
    border-left: 0.3rem solid #ff3333;
    overflow-y: hidden;
    padding: 1rem 1.25rem;
}

a {
    color: #4084C5;
    text-decoration: none;
}

